/* header */

body > header {
    background-color: #046dd5;
    color: white;
  
    padding: 1em;
  }
  
  body > header h1, body > header h2{
    margin: 0;
  }
  
  body > header a {
    color: white;
    text-decoration: none;  
  }
  
  body > header #signup a:first-child {
    border-right: 1px solid white;
  }
  
  body > header #signup a {
    padding: 0 1em;
  }
  
  body > header #signup a:first-child {
    padding-left: 0;
  }
  
  body > header #signup .avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  

  
  /* article */
  
  #news header {
    color: white;
    background-color: #2a2f33;
  
    padding: 0 1em 0 1em;

    margin-bottom: -1.2em;
  }
  #news header h1{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  
  #news header a{
      
    color: white;
    text-decoration: none;
  }
  
  #news img {
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
    /* interessante isto aqui */
    /* filter: blur(8px); */
  }
  
  #news > article {
    background-color: white;
  
    margin: 1em 1.5em 1em 1.5em;
  }
  
  #news > article > p{
    padding: 0 1em;
  }
  
  #news > article > p:first-of-type:first-letter{
    font-size: 2em;
  }
  
  #news footer {
    color: white;
    background-color: #2a2f33;
  
    padding: 1em;
  }
  
  #news footer a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
  }
  
  #news footer .tags {
    margin-right: 1em;
  }
  
  #news footer .comments {
    margin-left: 1em;
  }
  
  #news footer .comments:after {
    content: ' comments';
  }
  
  #news footer .author:before{
    content: "By ";
  }

  #news .likes {
    margin-left: 1em;
  }
  
  #news .likes:after {
    content: ' 👍';
  }

  #news .dislikes {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  #news .dislikes:after {
    content: ' 👎';
  }
  
  /* Comments */

article .dislikes{
    text-decoration: #046dd5;
}
  
  /* related */
  
  #related {
    background-color: #2a2f33;
  
    padding: 1em;
  }
  
  #related h1 a {
    color: white;
    text-decoration: none;
  }
  
  #related p {
    color: white;
  }
  
  /* footer */
  
  body > footer {
    background-color: #2a2f33;
    color: white;
  
    padding: 1em;
    margin-right: 1em;
  
    height: 1em;
  }
  
  body > footer p {
    margin: 0;
  }
  
  /* fonts */ 
  
  body {
    font-family: 'Verdana', sans-serif;
  }
  
  p {
    font-family: "Georgia", serif;
    line-height: 1.4em;
  }
  
  header h2 {
    font-size: 1em;
  }
  
  header a {
    font-size: 0.8em;
  }
  
  #news header {
    font-size: 1.5em;
  }
  
  #news footer {
    font-size: 0.8em;
  }
  
